<!-- <ion-header [translucent]="true">
	<ion-toolbar>
	  <ion-title>Enter Mobile to Continue</ion-title>
	</ion-toolbar>
</ion-header>   -->
<ion-content color="primary" [fullscreen]="true">
	<div id="sign-in-button"></div>
	<div class="logo">
	    <img src="./assets/imgs/potteries-icon.svg" width="100" />    
	</div>
	<h1>Enter your Phone Number</h1>
	<p>We will send you the 6 digit verification code.</p>
	<form [formGroup]="complexForm" novalidate="">
	    <ion-item>
	      <ion-input type="number" id="mobile" placeholder="Enter Phone Number" name="mobile" formControlName="mobile" autocomplete="off"></ion-input>
	    </ion-item>
	    <ion-button expand="block" color="secondary" (click)="submitForm()">
			Generate OTP <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward" slot="end"></ion-icon>
	    </ion-button>
	    
	    <div id="recaptcha-container"></div>
	</form>
</ion-content>

<ion-footer></ion-footer>