app-signin {
	ion-content {
		--padding-start: 20px;
		--padding-end: 20px;
		text-align: center;
	}

	.logo {
		padding: 25px;
		text-align: center;
		margin-top: 20px;
	}

	h1 {
		margin: 20px 0;
		font-size: 20px;
	}

	ion-item {
		--border-radius: 30px;
		--highlight-height: 0;

		.native-input {
			padding-left: 40px !important;
		}

		&:before {
			content: '+91';
			position: absolute;
			z-index: 2;
			top: 15px;
			left: 15px;
			color: #666;
		}
	}

	.item-highlight {
		height: 0
	}

	.button {
		margin-left: 0;
		margin-right: 0;
		margin-top: 50px;
		height: 49px;
		--border-radius: 30px;
	}
}