<ion-header>
  <ion-toolbar color="primary">
  	<ion-buttons slot="start">
		<ion-back-button defaultHref="search-bus"></ion-back-button>
	</ion-buttons>
    
    <ion-title>Passengers Detail</ion-title>

    <ion-buttons slot="end">
      <ion-button icon-only item-end (click)="addPassenger()">
        <ion-icon name="person-add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<form [formGroup]="complexForm" novalidate="">
		<ion-list-header color="light" lines="full">
			<ion-label>
				{{this.selectedRoute.from}}
				<ion-icon name="arrow-forward-outline"></ion-icon>
				{{this.selectedRoute.to}} 
				@
				{{this.selectedRoute.time | militaryTime}}
			</ion-label>
			<ion-button fill="outline" color="secondary" size="small" (click)="mySelect.open()">
			  <ion-icon slot="start"  name="refresh"></ion-icon>
			  Change Route
			</ion-button>
		</ion-list-header>

		<ion-item [hidden]=true>
			<ion-label>Select Route</ion-label>
			<ion-select formControlName="route" #mySelect interface="alert" [interfaceOptions]="customAlertOptions" ok-text="Select" value="{{selectedRoute.id}}">
			  <ion-select-option *ngFor="let route of bus.routeDetail; let i=index" value="{{route.id}}">From {{route.from}} to {{route.to }} @ {{route.time | militaryTime}}</ion-select-option>
			</ion-select>
		</ion-item>

		<ion-item>
			<ion-label>Date</ion-label>
			<ion-datetime displayFormat="DD/MMM/YYYY" min="{{today}}" max="{{tomorrow}}" name="t1" autocomplete="off" formControlName="date" [ngClass]="{'is-invalid':!complexForm.controls['date'].valid && complexForm.controls['date'].touched}"></ion-datetime>
		</ion-item>
	    <ion-list formArrayName="passengers">
	      <div *ngFor="let line_item of complexForm.controls.passengers.controls; let i=index">
	        <div [formGroupName]= "i">
	          <ion-list-header color="light">
	            Passenger {{i+1}}
	            <ion-button  color="secondary" size="small" (click)="removePassenger(i)" *ngIf="complexForm.controls.passengers.controls.length > 1 && i > 0">
	              <ion-icon slot="start" name="trash"></ion-icon>
	              Delete Passenger
	            </ion-button>
	          </ion-list-header>
	          <ion-item>
	            <ion-label color="primary" position="stacked">Name</ion-label>
	            <ion-input type="text" id="name" placeholder="From" formControlName="name" [ngClass]="{'is-invalid':!complexForm.controls.passengers.controls[i].controls['name'].valid && complexForm.controls.passengers.controls[i].controls['name'].touched}" placeholder="Name"></ion-input>
	          </ion-item>
	          <ion-item>
	            <ion-label color="primary" position="stacked">age</ion-label>
	            <ion-input type="number" id="age" placeholder="age" formControlName="age" [ngClass]="{'is-invalid':!complexForm.controls.passengers.controls[i].controls['age'].valid && complexForm.controls.passengers.controls[i].controls['age'].touched}" placeholder="Age"></ion-input>
	          </ion-item>
	          <ion-item>
	            <ion-label>Gender</ion-label>
	            <ion-select displayFormat="h:mm A" pickerFormat="h mm A" name="t1" autocomplete="off" formControlName="gender" [ngClass]="{'is-invalid':!complexForm.controls.passengers.controls[i].controls['gender'].valid && complexForm.controls.passengers.controls[i].controls['gender'].touched}">
	              <ion-select-option value="male">Male</ion-select-option>
	              <ion-select-option value="female">Female</ion-select-option>
	              <ion-select-option value="others">Other</ion-select-option>
	            </ion-select>
	          </ion-item>
	        </div>
	      </div>
	    </ion-list>
		<ion-card>
			<ion-card-header><strong>Estimated Fare</strong></ion-card-header>
			<ion-card-content>
				<p>Total Fare: Rs.{{this.bus.fare * complexForm.controls.passengers.length}}/- <small>Need to pay directly in bus.</small></p>
				<p>Booking Changes: Rs.{{totalBookingCharges}}/-</p>
			</ion-card-content>
		</ion-card>
    	<ion-button  expand="full" color="tertiary" (click)="submitForm(complexForm)">Confirm and Proceed for Payment
    		<ion-icon slot="end" ios="ios-arrow-round-forward" md="ios-arrow-round-forward"></ion-icon>
    	</ion-button>
  	</form>
</ion-content>
