<ion-header  *ngIf="page == 'register'">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="search-bus"></ion-back-button>
    </ion-buttons>
    <ion-title>Register New Bus</ion-title>
  </ion-toolbar>
</ion-header>
<ion-header *ngIf="page == 'update'">
	<ion-toolbar color="primary">
		<ion-buttons slot="end">
			<ion-button (click)="dismiss()">Close</ion-button>
		</ion-buttons>
		<ion-title>Update Bus Detail</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<form [formGroup]="complexForm" novalidate="">
		<ion-item>
			<ion-label color="primary" position="stacked">Driver Name</ion-label>
			<ion-input type="text" id="name" placeholder="Enter Driver Name" name="name"
				[formControl]="complexForm.controls['name']" autocomplete="off"
				[ngClass]="{'is-invalid':!complexForm.controls['name'].valid && complexForm.controls['name'].touched}"
				placeholder="Driver Name"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label color="primary" position="stacked">Contact Number</ion-label>
			<ion-input type="text" id="contact" placeholder="Contact Number" name="contact"
				[formControl]="complexForm.controls['contact']" autocomplete="off"
				[ngClass]="{'is-invalid':!complexForm.controls['contact'].valid && complexForm.controls['contact'].touched}"
				placeholder="Contact Number"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label color="primary" position="stacked">Registration Number</ion-label>
			<ion-input type="text" id="registration" placeholder="Enter Registration" name="registration"
				[formControl]="complexForm.controls['registration']" autocomplete="off"
				[ngClass]="{'is-invalid':!complexForm.controls['registration'].valid && complexForm.controls['registration'].touched}"
				placeholder="Registration NUmber"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label color="primary" position="stacked">Fare</ion-label>
			<ion-input type="number" id="fare" placeholder="Enter Fare Detail" name="registration"
				[formControl]="complexForm.controls['fare']" autocomplete="off"
				[ngClass]="{'is-invalid':!complexForm.controls['fare'].valid && complexForm.controls['fare'].touched}">
			</ion-input>
		</ion-item>
		<ion-item>
			<ion-label color="primary" position="stacked">Seating Capacity</ion-label>
			<ion-input type="number" id="capacity" placeholder="Enter Seating Capacity" name="registration"
				[formControl]="complexForm.controls['capacity']" autocomplete="off"
				[ngClass]="{'is-invalid':!complexForm.controls['capacity'].valid && complexForm.controls['capacity'].touched}">
			</ion-input>
		</ion-item>

		<ion-list formArrayName="routeDetail">
			<ion-card *ngFor="let line_item of complexForm.get('routeDetail').controls; let routeIndex=index">
				<ion-item color="light" lines="none">
					<ion-icon name="bus-outline" slot="start"></ion-icon>
					<ion-card-subtitle>Route Information</ion-card-subtitle>
					<ion-button fill="outline" slot="end" (click)="addStop(routeIndex)">Add Stop</ion-button>
					<ion-button fill="outline" slot="end" color="danger" (click)="removeRoute(routeIndex)"
						*ngIf="complexForm.controls.routeDetail.controls.length > 1">
						<ion-icon name="close" slot="start"></ion-icon> Delete Route
					</ion-button>
				</ion-item>
				<div [formGroupName]="routeIndex">
					<!-- <ion-input type="text" formControlName="id" value="{{i+1}}"></ion-input> -->
					<ion-item>
						<ion-label color="primary" position="stacked">From</ion-label>
						<ion-input type="text" id="from" placeholder="From" formControlName="from"
							[ngClass]="{'is-invalid':(!line_item.controls['from'].valid && line_item.controls['from'].touched) }"
							placeholder="City"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label color="primary" position="stacked">To</ion-label>
						<ion-input type="text" id="to" placeholder="To" formControlName="to"
							[ngClass]="{'is-invalid':!line_item.controls['to'].valid && line_item.controls['to'].touched}"
							placeholder="City"></ion-input>
					</ion-item>
					<!-- <ion-item>
						<ion-label position="stacked">Start Time</ion-label>
						<ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" name="t1" autocomplete="off"
							formControlName="time"
							[ngClass]="{'is-invalid':!line_item.controls['time'].valid && line_item.controls['time'].touched}">
						</ion-datetime>
					</ion-item> -->

					<ion-list formArrayName="stopDetail">
						<ion-card *ngFor="let stop of getStop(routeIndex).controls; let stopIndex=index">
							<ion-item color="light" lines="none">
								<ion-icon name="map-outline" slot="start"></ion-icon>
								<ion-card-subtitle>Stops Information</ion-card-subtitle>
								<ion-button fill="outline" color="danger" slot="end" (click)="removeStop(routeIndex, stopIndex)">
									<ion-icon name="close" slot="start"></ion-icon> Delete Stop
								</ion-button>
							</ion-item>
							<div [formGroupName]="stopIndex">
								<ion-item>
									<ion-label color="primary" position="stacked">Location</ion-label>
									<ion-input type="text" placeholder="Location" formControlName="location"
										[ngClass]="{'is-invalid':(!stop.controls['location'].valid && stop.controls['location'].touched) }"
										placeholder="Location"></ion-input>
								</ion-item>
								<ion-item>
									<ion-label position="stacked">Time</ion-label>
									<ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" name="t1" autocomplete="off"
										formControlName="time"
										[ngClass]="{'is-invalid':!stop.controls['time'].valid && stop.controls['time'].touched}">
									</ion-datetime>
								</ion-item>
							</div>
						</ion-card>
					</ion-list>
				</div>
			</ion-card>
		</ion-list>
		<div class="card-body" style="padding-top: 0">
			<ion-button fill="clear" (click)="addRoute()">Add Route</ion-button>
		</div>
		<ion-button expand="full" (click)="submitForm(complexForm)">Submit</ion-button>
	</form>
</ion-content>