<ion-header>
	<ion-toolbar color="primary">
  		<ion-buttons slot="start">
      		<ion-menu-button></ion-menu-button>
    	</ion-buttons>
    	<ion-title>Profile</ion-title>
  	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
	    <ion-list-header>
	    	<ion-label>My Booking History</ion-label>
	    </ion-list-header>
	    <ion-item text-wrap *ngFor="let item of bookings; let i = index" color="{{getColor(item.status)}}">
				<ion-icon name="bus" slot="start"></ion-icon>
	    	<ion-label>
					<h2>Date: {{ item.date | date: 'longDate' }}, {{item.time | militaryTime }}</h2>
					<p>From: {{ item.from }} To: {{ item.to }}</p>
					<div *ngIf="drawerId == i + 1">
						<p>Passengers:</p>
						<ion-label *ngFor="let passenger of item.passengers; let i = index">{{ passenger.name }}</ion-label>
					</div>
				</ion-label>
				<ion-button slot="end" fill="none" (click)="drawerId = i + 1">
					<ion-icon slot="icon-only" name="chevron-down-outline"></ion-icon>
				</ion-button>

				
	    </ion-item>

		<ion-item *ngIf="result && !bookings.length">
			<ion-label>
				No records found !
			</ion-label>
			<ion-button slot="end" [routerLink]="['/search-bus']">
				Book a bus
			</ion-button>
		</ion-item>
	  </ion-list>
</ion-content>